<h1>Declaration for <%=@entity.name%> </h1>
<ul>
    <li><%=@declaration.start_date%> - <%=@declaration.end_date%> - <%=@declaration.type_of_project%></a></li>
</ul>

<a class="btn btn-primary" href="../declarations/<%=@declaration.id%>/edit"> Edit </a>  