<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%if current_user != nil %>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Entity</th>
      <th scope="col">Jurisdiction</th>
      <th scope="col">Project Type</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">Statutory Due Date</th>
      <th scope="col">Payment Due Date</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <%i = 1%>
  <% @declarations_by_due_date.each do |declarations| %>
    <%declarations.each do |declaration|%>
        <tr>
        <th scope="row"><%=i%></th>
        <td><%=declaration.entity.name%></td>
        <td><%=declaration.entity.jurisdiction%></td>
        <td><%=declaration.type_of_project%></td>
        <td><%=declaration.start_date%></td>
        <td><%=declaration.end_date%></td>
        <td><%=declaration.due_date.statutory_due_date%></td>
        <td><%=declaration.due_date.payment_due_date%></td>
        <td> <a class="btn btn-light" href="./companies/<%=current_user.company_id%>/declarations/<%=declaration.id%>"> Open </a> </td>
        </tr>
        <%i += 1%>
    <%end%>
  <%end%>

  </tbody>
</table>
<%else%>
<% #Here you will include the homepage when not logged in%>
<%end%>